* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0,35,42);
  background: linear-gradient(135deg, rgba(0,35,42,1) 0%, rgba(155,199,214,1) 100%); 
}

main {
  /*height: 500px;
  width: 500px;*/
  background-color: #0a0a0a;
  color: #9bc7d6;
  padding: 20px;
  border-radius: 20px;
}

header {
  height: 100px;
  width: 100%;
  background-color: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
  margin-bottom: 15px;
}

li {
  list-style: none;
  text-align: right;
}

#operation {
  font-size: 20px;
}

#answer {
  font-size: 35px;
}

section {
  margin-top: 5px;
}

button {
  font-size: 30px;
  height: 60px;
  width: 60px;
  background-color: #353535;
  color: #ffffff;
  border-style: none;
  border-radius: 20px;
}